APP_NAME=DermAI Hospital API
APP_VERSION=2.0.0
DEBUG=false
ALLOWED_ORIGINS=["*"]
API_BASE_URL=http://localhost:7860

DATABASE_URL=postgresql+asyncpg://dermuser:dermpass@localhost:5432/dermaidb
DATABASE_SYNC_URL=postgresql://dermuser:dermpass@localhost:5432/dermaidb

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

SECRET_KEY=CHANGE_THIS_TO_A_RANDOM_256BIT_SECRET
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

DATA_DIR=/app/data
IMAGES_DIR=/app/data/images
REPORTS_DIR=/app/data/reports
FEEDBACK_DS_DIR=/app/data/feedback_ds
MODELS_DIR=/app/data/models
INITIAL_MODEL_PATH=/app/data/models/model_v1.keras

MODEL_INPUT_WIDTH=100
MODEL_INPUT_HEIGHT=75

MIN_FEEDBACK_SAMPLES_FOR_RETRAIN=2
RETRAIN_EPOCHS=3
RETRAIN_BATCH_SIZE=16
RETRAIN_SCHEDULE_HOUR=0
